<div th:fragment="disks(disk)">
	<li class="media">
	  <div class="media-left">
	      <img class="media-object" th:src="${disk.movie.posterUrl}" alt="Постер фильма" />
	  </div>
	  <div class="media-body">
	  	<div>
		    <h4 class="media-heading" th:text="${disk.movie.title}">Название фильма</h4>
	    	<p th:text="${disk.movie.overview}">Сюжет фильма</p>
	    	<p>Рейтинг: <span th:text="${disk.movie.rating}">10</span></p>
	    </div>
	    <div th:if="${disk.taken}">
			<p>Взят пользователем&nbsp;<span th:text="${disk.taken.tenant.name}">User</span></p>
	    </div>
	  </div>
	</li>	
</div>