<div th:fragment="disks(disk, user)">
	<li class="media">
	  <div class="media-left">
	      <img class="media-object" th:src="${disk.movie.posterUrl}" alt="Постер фильма" />
	  </div>
	  <div class="media-body">
	  	<div>
		    <h4 class="media-heading" th:text="${disk.movie.title + ' (' + disk.movie.originalTitle + ', ' + disk.movie.releaseYear + ')'}">Название фильма</h4>
	    	<p th:text="${disk.movie.overview}">Сюжет фильма</p>
	    	<p><span class="glyphicon glyphicon-star"></span><span th:text="${disk.movie.rating}">10</span></p>
	    </div>
	    <div th:if="${disk.taken}">
			<p>Взят пользователем&nbsp;<span th:text="${disk.taken.tenant.name}">User</span></p>
	    </div>
	    <div th:if="${disk.owner.id != user.id}">
			<p>Владелец: &nbsp;
				<span th:text="${disk.owner.name}">User</span>&nbsp;
				<button class="btn btn-primary btn-xs" type="submit" th:onclick="'javascript:takeDisk(\'' + ${disk.id} + '\');'">Взять</button>
			</p>
	    </div>	    
	  </div>
	</li>	
</div>

<div th:fragment="takenItems(ti, user)">
	<li class="media">
	  <div class="media-left">
	      <img class="media-object" th:src="${ti.disk.movie.posterUrl}" alt="Постер фильма" />
	  </div>
	  <div class="media-body">
	  	<div>
		    <h4 class="media-heading" th:text="${ti.disk.movie.title}">Название фильма</h4>
	    	<p th:text="${ti.disk.movie.overview}">Сюжет фильма</p>
	    	<p>
	    		<span class="glyphicon glyphicon-star"></span><span th:text="${ti.disk.movie.rating}">10</span>
	    	</p>
	    	<p>Владелец: 
	    		<span th:text="${ti.disk.owner.name}">User</span>, взят 
	    		<span th:if="${ti.tenant.id == user.id}">мной&nbsp;
					<button type="submit" class="btn btn-xs btn-primary" th:onclick="'javascript:returnDisk(\'' + ${ti.id} + '\');'">Отдать</button>
				</span>
				<span th:if="${ti.tenant.id != user.id}">пользователем 
					<span th:text="${ti.tenant.name}"></span>
				</span>
    		</p>
	    </div>
	  </div>
	</li>	
</div>