<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head></head>
<body>
<div id="navigationMenu" th:fragment="menu">
    <ul>
        <li><a href="/collection">Моя коллекция</a></li>
        <li><a href="/newDisk">Новый диск</a></li>
        <li><a href="/freeDisks">Доступные диски</a></li>
        <li><a href="/takenDisks">Взятые диски</a></li>
        <li><a href="/users">Пользователи системы</a></li>
        <li><a th:href="@{/logout}">Выйти из системы</a></li>
    </ul>
</div>
</body>
</html>