<div id="navBar" th:fragment="navBar (user)">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Переключить панель</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/collection}">Коллекция</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Действия <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/newDisk}">Новый диск</a></li>
            <li><a th:href="@{/freeDisks}">Взять диск</a></li>
            <li><a th:href="@{/takenDisks}">Взятые у меня диски</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text" th:text="${user.name}">Eugene</p></li>
        <li><a th:href="@{/logout}">Выйти</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div th:fragment="meta">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
</div>

<div th:fragment="scripts">
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</div>