<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>DVD-changer: New Disk</title>
</head>
<body>
<h1>DVD-changer:</h1>

<div th:replace="fragments/menu :: navBar" ></div>

<h2>Новый диск в коллекции пользователя <span th:text="${user.name}">User</span></h2>
<hr />
<form th:action="@{/newDisk}" method="POST">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" name="owner_id" th:value="${user.id}" />
	<div>
		<label for="movieTitle">Название фильма:</label>
		<input type="text" name="movie_title" id="movieTitle" />
	</div>
	<button type="submit">Добавить диск</button>
</form>
</body>
</html>