<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>DVD-changer: Taken Disks</title>
</head>
<body>
<h1>DVD-changer:</h1>

<div id="navigationMenu">
	<ul>
		<li><a href="/newDisk">Новый диск</a></li>
		<li><a href="/freeDisks">Доступные диски</a></li>
		<li><a href="/takenDisks">Взятые диски</a></li>
		<li><a href="/users">Пользователи системы</a></li>
	</ul>
</div>

<h2>Взятые диски</h2>
<hr />
<ul>
	<li th:each="item : ${takenDisks}">
		<span th:text="${item.disk.movieTitle}">Title</span>, взят пользователем&nbsp;
		<span th:text="${item.tenant.name}">User</span>
	</li>
</ul>
</body>
</html>